.header {
  display: inline-block;
  padding: 0 10px 10px;
  font-size: 24px;
  font-weight: 500;
}

.feedbackForm {
  width: 25%;
  padding: 20px;
  margin: 0 auto;

  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  background-color: rgb(213, 218, 208);
}
